@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero-container {

    display: flex;
    align-items: center;
    position: relative;
}


.hero-container::after,
.hero-container::before {
    
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 20.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {

    top: -6rem;
    left: -1rem;
}

.hero-container::before {

    bottom: -3rem;
    right: 0rem;
}

.hero-content {
    flex: 1;
}

.hero-content h2{

    font-size: 3.0rem;
    font-weight: 600;
    line-height: 5rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.hero-content p {

    width: 80%;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
}

.hero-img {
    width: auto;
    height: auto;
    flex: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}



.hero-img > div {

    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.hero-img > div > img {

    width: 25rem;
    transition: all 0.3s ease;
}


@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
  }
  
  .tech-icon img {
    
    animation: moveUpDown 5s ease-in-out infinite alternate;
  }

  .tech-icon {
    transition: .3s;
  }

  .tech-icon:hover{

    transform: scale(1.05);
    box-shadow: 0 0 20px transparent;
  }

  @media (max-width: 768px) {

    .hero-container {

        flex-direction: column;
    }

    .hero-img {

        margin: 2rem 0 2rem 0;
    }

    .hero-container h2 {

        margin-top: 3rem;
    }

    .hero-content h2,
    .hero-content p {

        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before {

        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .hero-container::after {

        top: 0rem;
        left: 0rem;
    }

    .hero-container::before {

        bottom: 2rem;
        right: 0rem;
    }
}

  @media (max-width: 435)  {

    .hero-content h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .hero-content p {

        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img {
        gap: 1rem;
    }

    .hero-img > div {
        gap: 1rem;
    }

    .hero-img > div > img {

        width: 16rem;
    }

    .tech-icon {

        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon img {

        width: 2rem;
    }

  }

  @media (max-width: 1115) {

    .hero-content h2 {

        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {

        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img > div > img {

        width: 20rem;
    }

    .tech-icon {

        width: 4rem;
        height: 4rem;
    }

    .tech-icon img {

        width: 2.5rem;
    }
  }

