.container {

    max-width: 1300px !important;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1300px) {
    .container {
        padding: 0 1.5rem;
    }
}

.line {

    margin: 5rem 0; /* Espaçamento acima e abaixo da linha */
}
.divider {
    border-radius: 1rem;
    width: 100%;
    padding: 0.5px 2px;
    height: auto;
    background-color: #00000089; /* Cor da linha */
    margin: 1rem 0; /* Espaçamento acima e abaixo da linha */
  }
  
  @media (max-width: 430px) {
    .divider {
        margin: 1rem 0;
      padding: 0.5px 1rem;
    }

    .line {

        margin: 5rem 0; /* Espaçamento acima e abaixo da linha */
    }
  }