.container {

    max-width: 1300px !important;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1300px) {
    .container {
        padding: 0 1.5rem;
    }
}

.divider {
    border-radius: 1rem;
    padding: 18px 2px;
    height: auto;
    background-color: #00000089; /* Cor da linha */
    margin:60px 0; /* Espaçamento acima e abaixo da linha */
  }
  